<div class="form">
    <div class="item">
        <%= render 'form', book: @book %>
        <div class="editButton">
            <%= link_to 'Back', books_path %>
            <div><%= link_to 'assign', assign_book_path %></div>

            <%= button_to "delete", book_path(@book), method: :delete, data:{turbo_confirm: "are you sure?"} %> 
        </div>
        
    </div>
</div>